1.3/Source/ModRimworldTouchAnimal/.idea/.idea.ModRimworldTouchAnimal/.idea/contentModel.xml
1.3/Source/ModRimworldTouchAnimal/.idea/.idea.ModRimworldTouchAnimal/.idea/workspace.xml
1.3/Source/ModRimworldTouchAnimal/obj/
1.2/Source/ModRimworldTouchAnimal/obj/
1.2/Source/ModRimworldTouchAnimal/.idea/
1.3/Source/ModRimworldTouchAnimal/.idea/
*.user
*.pdb
